<section>
  <h1>Progress Bar</h1>
  <section>
    <div class="progressBar1"><div class="fillColor1"></div><span class="cnt">{{status1}}%</span></div>
  </section>

  <section class="MRGT10PX">
    <div class="progressBar1"><div class="fillColor2"></div><span class="cnt">{{status2}}%</span></div>
  </section>

  <section class="MRGT10PX">
    <div class="progressBar1"><div class="fillColor3"></div><span class="cnt">{{status3}}%</span></div>
  </section>

  <aside class="MRGT10PX">
      <select ng-model="selectedProg" ng-options="item as item.value for item in progress track by item.id"></select>
      <button ng-model="addition.addAN" ng-click="(status != 0)? AdditionN(addition.addAN): ''">-25</button>
      <button ng-model="addition.addBN" ng-click="(status != 0)? AdditionN(addition.addBN): ''">-10</button>
      <button ng-model="addition.addCP" ng-click="AdditionP(addition.addCP)">+10</button>
      <button ng-model="addition.addDP" ng-click="AdditionP(addition.addDP)">+25</button>
    </aside>
</section>